/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
body {
  font-family: "Montserrat", sans-serif;
  color: #1d1d1b;
}

a {
  color: #79b829;
}

a:hover {
  color: #a1f82e;
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Montserrat", sans-serif;
}

/*--------------------------------------------------------------
# Back to top button
--------------------------------------------------------------*/
.back-to-top {
  position: fixed;
  display: none;
  right: 15px;
  bottom: 15px;
  z-index: 99999;
  transition: 0.5s;
}

.back-to-top i {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  background: #1d1d1b;
  color: #fff;
  transition: all 0.4s;
}

.back-to-top:hover {
  bottom: 19px;
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/
#topbar {
  height: 40px;
  font-size: 14px;
  transition: all 0.5s;
  color: rgba(255, 255, 255, 0.6);
}

#topbar.topbar-scrolled {
  top: -40px;
}

#topbar .contact-info a {
  line-height: 1;
  color: rgba(255, 255, 255, 0.6);
  transition: 0.3s;
}

#topbar .contact-info a:hover {
  color: #fff;
}

#topbar .contact-info i {
  color: #79b829;
  padding-right: 4px;
}

#topbar .contact-info i.icofont-phone {
  margin-left: 15px;
}

#topbar .social-links a {
  color: rgba(255, 255, 255, 0.5);
  padding-left: 15px;
  display: inline-block;
  line-height: 1px;
  transition: 0.3s;
}

#topbar .social-links a:hover {
  color: #fff;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
#header {
  transition: all 0.5s;
  z-index: 997;
  padding: 20px 0;
  top: 40px;
}

#header .logo {
  font-size: 32px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 600;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#header .logo a {
  color: #fff;
}

#header .logo img {
  max-height: 40px;
}

#header.header-scrolled, #header.header-inner-pages {
  background: #fff;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 12px 0;
  top: 0;
}

#header.header-scrolled .logo a, #header.header-inner-pages .logo a {
  color: #493c3e;
}

@media (max-width: 992px) {
  #header {
    top: 0;
    padding: 15px 0;
    background: transparent;
  }
  #header .logo {
    font-size: 28px;
  }
}

.header-inner-pages {
  background: rgba(0, 0, 0, 0.9) !important;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/
/* Desktop Navigation */
.nav-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.nav-menu > ul {
  display: flex;
}

.nav-menu > ul > li {
  position: relative;
  white-space: nowrap;
  padding: 10px 0 10px 25px;
}

.nav-menu a {
  display: block;
  position: relative;
  color: #fff;
  transition: 0.3s;
  font-size: 15px;
  padding: 0 4px;
  letter-spacing: 0.4px;
  font-family: "Poppins", sans-serif;
}

.nav-menu > ul > li > a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -6px;
  left: 0;
  background-color: #79b829;
  visibility: hidden;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.nav-menu a:hover:before, .nav-menu li:hover > a:before, .nav-menu .active > a:before {
  visibility: visible;
  transform: scaleX(1);
}

.nav-menu .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% + 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: 0.3s;
}

.nav-menu .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.nav-menu .drop-down li {
  min-width: 180px;
  position: relative;
}

.nav-menu .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  text-transform: none;
  color: #493c3e;
}

.nav-menu .drop-down ul a:hover, .nav-menu .drop-down ul .active > a, .nav-menu .drop-down ul li:hover > a {
  color: #79b829;
}

.nav-menu .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 5px;
}

.nav-menu .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.nav-menu .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.nav-menu .drop-down .drop-down > a {
  padding-right: 35px;
}

.nav-menu .drop-down .drop-down > a:after {
  content: "\eaa0";
  font-family: IcoFont;
  position: absolute;
  right: 15px;
}

.header-scrolled .nav-menu > ul > li > a, .header-inner-pages .nav-menu > ul > li > a {
  color: #493c3e;
}

@media (max-width: 1366px) {
  .nav-menu .drop-down .drop-down ul {
    left: -90%;
  }
  .nav-menu .drop-down .drop-down:hover > ul {
    left: -100%;
  }
  .nav-menu .drop-down .drop-down > a:after {
    content: "\ea9d";
  }
}

/* Mobile Navigation */
.mobile-nav-toggle {
  position: fixed;
  right: 15px;
  top: 15px;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  color: #79b829;
}

.mobile-nav {
  position: fixed;
  top: 55px;
  right: 15px;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  overflow-y: auto;
  background: #fff;
  transition: ease-in-out 0.2s;
  opacity: 0;
  visibility: hidden;
  border-radius: 10px;
  padding: 10px 0;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #493c3e;
  padding: 10px 20px;
  font-weight: 500;
  outline: none;
}

.mobile-nav a:hover, .mobile-nav .active > a, .mobile-nav li:hover > a {
  color: #a1f82e;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\ea99";
  font-family: IcoFont;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\eaa1";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(45, 37, 38, 0.6);
  overflow: hidden;
  display: none;
  transition: ease-in-out 0.2s;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  opacity: 1;
  visibility: visible;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Hero Section
--------------------------------------------------------------*/
#hero {
  width: 100%;
  height: 100vh;
  background: url("../img/hoja.jpg") top center;
  background-size: cover;
  position: relative;
}

#hero:before {
  content: "";
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
}

#hero img {
  max-width: 500px;
  position: relative;
}


#hero .hero-container {
  position: absolute;
  bottom: 0;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 0 15px;
}

#hero h3 {
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-size: 26px;
  padding: 10px 30px;
  margin-bottom: 30px;
  border-radius: 50px;
}

#hero h1 {
  margin: 0 0 10px 0;
  font-size: 48px;
  font-weight: 700;
  line-height: 56px;
  text-transform: uppercase;
  color: #fff;
}

#hero h2 {
  color: #eee;
  margin-bottom: 40px;
  font-size: 24px;
}

#hero .btn-get-started {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 30px 9px 30px;
  border-radius: 50px;
  transition: 0.5s;
  border: 2px solid #fff;
  color: #fff;
}

#hero .btn-get-started:hover {
  background: #a1f82e;
  border: 2px solid #a1f82e;
}

@media (min-width: 1024px) {
  #hero {
    background-attachment: fixed;
  }
}

@media (max-width: 768px) {
  #hero h3 {
    font-size: 22px;
  }
  #hero h1 {
    font-size: 28px;
    line-height: 36px;
  }
  #hero h2 {
    font-size: 18px;
    line-height: 24px;
    margin-bottom: 30px;
  }
  #hero img {
    max-width: 350px;
  }
}

@media (max-width: 481px) {
  #hero img {
    max-width: 250px;
  }
}

@media (max-height: 500px) {
  #hero {
    height: 150vh;
  }
}

/*--------------------------------------------------------------
# Sections General
--------------------------------------------------------------*/
section {
  padding: 60px 0;
}

.section-bg {
  background-color: white;
}

.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  letter-spacing: 1px;
  font-weight: 900;
  padding: 8px 20px;
  line-height: 1;
  margin: 0;
  color: #1d1d1b;
  display: inline-block;
  text-transform: uppercase;
}

.section-title h3 {
  margin: 15px 0 0 0;
  font-size: 32px;
  font-weight: 700;
}

.section-title h3 span {
  color: #79b829;
}

.section-title p {
  margin: 15px auto 0 auto;
  font-weight: 600;
}

@media (min-width: 1024px) {
  .section-title p {
    width: 50%;
  }
}

@media (max-width: 481px) {
  .section-title h2 {
    font-size: 28px;
  }
}

/*--------------------------------------------------------------
# Count
--------------------------------------------------------------*/
#count {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/milpa.jpg") center center;
  background-size: cover;
  padding: 40px 0;
}

#count h3 {
  color: #fff;
  font-size: 34px;
  font-weight: 700;
  text-transform: uppercase;
}

#count p {
  color: #fff;
}

@media (min-width: 1024px) {
  #count {
    background-attachment: fixed;
  }
}

#count .countdown {
  margin-bottom: 80px;
}

#count .countdown div {
  text-align: center;
  margin: 10px;
  width: 100px;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.12);
  border-top: 5px solid #79b829;
}

#count .countdown div h3 {
  color: white;
  font-weight: 700;
  font-size: 44px;
  margin-bottom: 15px;
}

#count .countdown div h4 {
  color: white;
  font-size: 16px;
  font-weight: 600;
}

@media (max-width: 575px) {
  #count .countdown div {
    width: 70px;
    padding: 10px 0;
    margin: 10px 8px;
  }
  #count .countdown div h3 {
    font-size: 28px;
    margin-bottom: 10px;
  }
  #count .countdown div h4 {
    font-size: 14px;
    font-weight: 500;
  }
}

/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
#about {
  background: url("../img/bg/bg2.png") center center;
  background-size: cover;
  padding: 0;
}

#about .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#about .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 25%;
}

#about .icon-boxes p {
  text-align: justify;
  padding: 0 72px;
}

#about .icon-boxes span {
  font-weight: 800;
}

#about .video-box {
  background: url("../img/Foto1.png") left center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 481px) {
  #about .icon-boxes p {
    padding: 0 32px;
  }
}

/*--------------------------------------------------------------
# Counts
--------------------------------------------------------------*/
#counts {
  background: url("../img/bg/bg1.png") center center;
  background-size: cover;
  padding: 70px 0 60px;
}

#counts .section-title {
  margin-bottom: 20px;
}

#counts .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#counts .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 40%;
}

#counts .count-box {
  padding: 30px 30px 25px 30px;
  width: 100%;
  position: relative;
  text-align: center;
  background: #fff;
}

#counts .count-box img {
  position: absolute;
  top: -55px;
  left: 50%;
  transform: translateX(-50%);
  max-width: 100px;
  padding: 12px;
}

#counts .count-box span {
  font-size: 36px;
  display: block;
  font-weight: 900;
  color: #1d1d1b;
}

#counts .count-box p {
  padding: 0;
  margin: 0;
  font-size: 14px;
  font-weight: 600;
}

/*--------------------------------------------------------------
# Target
--------------------------------------------------------------*/
#target {
  padding: 0;
}

#target .content {
  padding: 0 100px;
}

#target .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#target .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 40%;
}

#target .content h3 {
  font-weight: 600;
  font-size: 30px;
  color: #79b829;
}

#target .content h4 {
  font-size: 20px;
  font-weight: 700;
  margin-top: 5px;
}

#target .content p {
  font-size: 15px;
  color: #1d1d1b;
  text-align: justify;
}

#target .video-box {
  background: url("../img/Finagrofoto.jpg") center center no-repeat;
  background-size: cover;
  min-height: 500px;
}

@media (max-width: 481px) {
  #target .content {
    padding: 0 40px;
  }
  #target .section-title h2::after {
    left: 35%;
  }
}

/*--------------------------------------------------------------
# Features
--------------------------------------------------------------*/
#content {
  background: url("../img/bg/bg1.png") center center fixed;
  background-size: cover;
}

#content .tab-content {
  margin-top: 30px;
}

#content .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#content .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 30%;
}

#content .tab-pane h3 {
  font-weight: 600;
  font-size: 23px;
  padding-top: 10px;
}

#content .tab-pane ul li {
  padding-bottom: 10px;
}

#content .tab-pane ul li::marker {
  font-size: 20px;
}

#content .tab-pane .icon-content {
  text-align: center;
  margin: auto;
}

#content .tab-pane .icon-content img {
  max-width: 100px;
}

#content .tab-pane p:last-child {
  margin-bottom: 0;
}

@media (max-width: 768px) {
  #content .tab-pane .img-fluid {
    max-width: 65%;
  }
}

/*--------------------------------------------------------------
# Benefits
--------------------------------------------------------------*/
#assistants {
  background: url("../img/bg/bg2.png") bottom center fixed;
  background-size: cover;
  position: relative;
}

#assistants .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#assistants .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 40%;
}

#assistants .icon-box {
  margin-bottom: 20px;
  text-align: center;
}

#assistants .icon {
  display: flex;
  justify-content: center;
}

#assistants .icon img {
  max-width: 70%;
  margin-bottom: 20px;
  border-radius: 50%;
  transition: 0.5s;
  overflow: hidden;
  padding: 10px;
  box-shadow: 0px 0 25px rgba(0, 0, 0, 0.15);
}

#assistants .icon-box:hover .icon img {
  box-shadow: 0px 0 25px rgba(121, 184, 41, 0.3);
}

#assistants .title {
  font-weight: 600;
  margin-bottom: 15px;
  font-size: 18px;
  position: relative;
  padding-bottom: 15px;
}

#assistants .title h4 {
  color: #1d1d1b;
  transition: 0.3s;
}

#assistants .title::after {
  content: '';
  position: absolute;
  display: block;
  width: 50px;
  height: 2px;
  background: #79b829;
  bottom: 0;
  left: calc(50% - 25px);
}

#assistants .description {
  line-height: 24px;
  font-size: 20px;
}

@media (max-width: 481px) {
  #assistants .section-title h2::after {
    left: 35%;
  }
}

/*--------------------------------------------------------------
# Clients
--------------------------------------------------------------*/
#exhibitors {
  background: url("../img/bg/bg2.png") bottom center fixed;
  background-size: cover;
  position: relative;
  text-align: center;
}

#exhibitors .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#exhibitors .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 33%;
}

#exhibitors .section-title h3 {
  font-size: 20px;
}

#exhibitors img {
  max-width: 100px;
  transition: all 0.4s ease-in-out;
  display: inline-block;
  padding: 15px 0;
  position: relative;
  left: 40%;
}

#exhibitors img:hover {
  filter: none;
  transform: scale(1.1);
}


@media (max-width: 768px) {
  #exhibitors img {
    width: 40%;
  }
}

/* #clients .owl-item {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

#clients .owl-item img {
  width: 60%;
  opacity: 0.5;
  transition: 0.3s;
}

#clients .owl-item img:hover {
  opacity: 1;
}

#clients .owl-nav, #clients .owl-dots {
  margin-top: 5px;
  text-align: center;
}

#clients .owl-dot {
  display: inline-block;
  margin: 0 5px;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ddd !important;
}

#clients .owl-dot.active {
  background-color: #0880e8 !important;
} */

/*--------------------------------------------------------------
# Services
--------------------------------------------------------------*/
#impact {
  padding-bottom: 30px;
  background: url("../img/bg/bg3.png") top center fixed;
  background-size: cover;
  position: relative;
}

#impact .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#impact .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 40%;
}

#impact .icon-box {
  margin-bottom: 60px;
  padding: 0 30px;
}

#impact .icon {
  float: left;
}

#impact .icon img {
  max-width: 50px;
  line-height: 1;
}

#impact .title {
  margin-left: 60px;
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#impact .title a {
  color: #343a40;
  transition: 0.3s;
}

#impact .icon-box:hover .title a {
  color: #428bca;
}

#impact .description {
  margin-left: 60px;
  line-height: 24px;
  font-size: 14px;
}

@media (max-width: 481px) {
  #impact .section-title h2::after {
    left: 35%;
  }
}

/*--------------------------------------------------------------
# ODS Section
--------------------------------------------------------------*/
#ods {
  padding: 60px 0 40px 0;
  background: url("../img/bg/bg3.png") top center fixed;
  background-size: cover;
  position: relative;
}

#ods .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#ods .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 45%;
}

#ods .box {
  padding: 20px;
  position: relative;
  overflow: hidden;
  border-radius: 10px;
  margin: 0 10px 10px 10px;
  /* background: #fff;
  box-shadow: 0 10px 29px 0 rgba(68, 88, 144, 0.1); */
  transition: all 0.3s ease-in-out;
  text-align: center;
}

#ods .box:hover {
  transform: scale(1.1);
}

#ods .box img {
  max-width: 100%;
}

#ods .icon {
  margin: 0 auto 15px auto;
  padding-top: 12px;
  display: inline-block;
  text-align: center;
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

#ods .icon i {
  font-size: 36px;
  line-height: 1;
}

#ods .title {
  font-weight: 700;
  margin-bottom: 15px;
  font-size: 18px;
}

#ods .title a {
  color: #111;
}

#ods .box:hover .title a {
  color: #1bb1dc;
}

#ods .description {
  font-size: 14px;
  line-height: 28px;
  margin-bottom: 0;
  text-align: left;
}

@media (max-width: 481px) {
  #ods .section-title h2::after {
    left: 35%;
  }
}

/*--------------------------------------------------------------
# Cta
--------------------------------------------------------------*/
#cta {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url("../img/milpa.jpg") center top;
  background-size: cover;
  padding: 60px 0;
}

#cta h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#cta p {
  color: #fff;
}

#cta .cta-btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#cta .cta-btn:hover {
  background: #79b829;
  border: 2px solid #79b829;
}

@media (min-width: 1024px) {
  #cta {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Line
--------------------------------------------------------------*/
#line {
  background: url("../img/bg/bg1.png") center center;
  background-size: cover;
  padding: 20px 0;
}

#line h3 {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
}

#line p {
  color: #fff;
}

#line .cta-btn {
  font-family: "Nunito", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 1px;
  display: inline-block;
  padding: 8px 28px;
  border-radius: 25px;
  transition: 0.5s;
  margin-top: 10px;
  border: 2px solid #fff;
  color: #fff;
}

#line .cta-btn:hover {
  background: #e43c5c;
  border: 2px solid #e43c5c;
}

@media (min-width: 1024px) {
  #line {
    background-attachment: fixed;
  }
}

/*--------------------------------------------------------------
# Contact
--------------------------------------------------------------*/
#contact .info {
  width: 100%;
}

#contact .section-title h2 {
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
}

#contact .section-title h2::after {
  content: '';
  position: absolute;
  display: block;
  width: 100px;
  height: 4px;
  background: #79b829;
  bottom: 0;
  left: 38%;
}

#contact .info i {
  font-size: 20px;
  color: #79b829;
  float: left;
  width: 44px;
  height: 44px;
  background: #f3fdef;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  transition: all 0.3s ease-in-out;
}

#contact .info h4 {
  padding: 0 0 0 60px;
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 5px;
  color: #493c3e;
}

#contact .info p {
  padding: 0 0 0 60px;
  margin-bottom: 0;
  font-size: 14px;
  color: #816a6e;
}

#contact .info .email, #contact .info .phone {
  margin-top: 40px;
}

#contact .info .email:hover i, #contact .info .address:hover i, #contact .info .phone:hover i {
  background: #79b829;
  color: #fff;
}

#contact .email-form {
  width: 100%;
  background: #fff;
}

#contact .email-form .form-group {
  padding-bottom: 8px;
}

#contact .email-form .validate {
  display: none;
  color: red;
  margin: 0 0 15px 0;
  font-weight: 400;
  font-size: 13px;
}

#contact .email-form .error-message {
  display: none;
  color: #fff;
  background: #ed3c0d;
  text-align: left;
  padding: 15px;
  font-weight: 600;
}

#contact .email-form .error-message br + br {
  margin-top: 25px;
}

#contact .email-form .sent-message {
  display: none;
  color: #fff;
  background: #18d26e;
  text-align: center;
  padding: 15px;
  font-weight: 600;
}

#contact .email-form .loading {
  display: none;
  background: #fff;
  text-align: center;
  padding: 15px;
}

#contact .email-form .loading:before {
  content: "";
  display: inline-block;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  margin: 0 10px -6px 0;
  border: 3px solid #18d26e;
  border-top-color: #eee;
  -webkit-animation: animate-loading 1s linear infinite;
  animation: animate-loading 1s linear infinite;
}

#contact .email-form input, #contact .email-form textarea {
  border-radius: 0;
  box-shadow: none;
  font-size: 14px;
}

#contact .email-form input:focus, #contact .email-form textarea:focus {
  border-color: #79b829;
}

#contact .email-form input {
  height: 44px;
}

#contact .email-form textarea {
  padding: 10px 12px;
}

#contact .email-form button[type="submit"] {
  background: #79b829;
  border: 0;
  padding: 10px 28px;
  color: #fff;
  transition: 0.4s;
  border-radius: 50px;
}

#contact .email-form button[type="submit"]:hover {
  background: #a1f82e;
}

@media (max-width: 481px) {
  #contact .section-title h2::after {
    left: 35%;
  }
}

@-webkit-keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes animate-loading {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Breadcrumbs
--------------------------------------------------------------*/
.breadcrumbs {
  padding: 15px 0;
  background: #f6f4f4;
  margin-top: 67px;
}

@media (max-width: 992px) {
  .breadcrumbs {
    margin-top: 50px;
  }
}

.breadcrumbs h2 {
  font-size: 26px;
  font-weight: 600;
}

.breadcrumbs ol {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  padding: 0 0 10px 0;
  margin: 0;
  font-size: 14px;
}

.breadcrumbs ol li + li {
  padding-left: 10px;
}

.breadcrumbs ol li + li::before {
  display: inline-block;
  padding-right: 10px;
  color: #655356;
  content: "/";
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/
#footer {
  color: #444444;
  font-size: 14px;
  background: #79b829;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
  padding: 0 0 30px 0;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
  background: #fff;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact h4 {
  font-size: 22px;
  margin: 0 0 30px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-weight: 700;
}

#footer .footer-top .footer-contact p {
  font-size: 14px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Nunito", sans-serif;
  color: #777777;
}

#footer .footer-top h4 {
  font-size: 16px;
  font-weight: bold;
  color: #444444;
  position: relative;
  padding-bottom: 12px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul i {
  padding-right: 2px;
  color: #79b829;
  font-size: 18px;
  line-height: 1;
}

#footer .footer-top .footer-links ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #777777;
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

#footer .footer-top .footer-links ul a:hover {
  text-decoration: none;
  color: #79b829;
}

#footer .credits {
  padding-top: 5px;
  font-size: 13px;
  color: #ffffff;
  text-align: center;
}

#footer .credits a {
  color: #ffffff;
}

#footer .copyright {
  color: #ffffff;
  text-align: center;
  padding-top: 30px;
}


#footer .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #79b829;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .social-links a:hover {
  background: #a1f82e;
  color: #fff;
  text-decoration: none;
}
